
language: python
python:
  - "3.5"
  - "3.6"
  - "3.7"
  - "3.8"
sudo: false
branches:
  except:
    - gh-pages
env:
  - DJANGO=1.11
  - DJANGO=2.0
  - DJANGO=2.1
  - DJANGO=2.2
  - DJANGO=3.0
matrix:
  fast_finish: true
before_install:
  - sudo apt-get -qq update
install:
  - python -m pip install -U pip
  - pip install -U setuptools tox-travis codecov
script:
  - tox
after_success:
  - codecov -e DJANGO
